body{
    font-family: 'Merriweather', serif;
}
.text-primary{
    color: #fd6e0a;
    border-radius: 5px;
    background-color: #1a1919;
   
}
.btn-primary{
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 20px;
    /* display: flex; */

   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 200px; */

}

.nav-title {
    color: #252525;
    
    font-size: 45px;
   
    font-weight: 700;
   
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.header{
    background-color: #ffc8a3;
    /* margin: 0; */
}
.banner{
    padding: 20px 20px 0px 100px;
    background-color: #eee7df;
    display: flex;
    align-items: center;
    /* display: flex; */
    align-items: center;
    /* margin: 0; */
    background-image: url("/images/rotate.jpg");
    
    
}


.banner .profile-picture{
    width: 300px;
    height: 300px;
    
    
      
}

/* main section  styles */

/* about section styles */
.about{
    padding: 130px
}
